ALTER TABLE [dbo].[Items] DROP CONSTRAINT [FK_Items_ItemCategories]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/31/2020 10:02:44 PM ******/
DROP TABLE [dbo].[Items]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/31/2020 10:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [ItemName], [CategoryName], [CategoryId]) VALUES (1, N'Cannon Agile Kinetic Ammo XS', N'Kinetic Ammo', 89965)
INSERT [dbo].[Items] ([Id], [ItemName], [CategoryName], [CategoryId]) VALUES (2, N'Cannon Defense Kinetic Ammo XS', N'Kinetic Ammo', 89965)
INSERT [dbo].[Items] ([Id], [ItemName], [CategoryName], [CategoryId]) VALUES (3, N'Cannon Heavy Kinetic Ammo XS', N'Kinetic Ammo', 89965)
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_ItemCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_ItemCategories]
GO
