ALTER TABLE [dbo].[ItemCategories] DROP CONSTRAINT [FK_ItemCategories_ItemCategories]
GO
ALTER TABLE [dbo].[ItemCategories] DROP CONSTRAINT [DF_ItemCategories_Sequence]
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 12/31/2020 10:02:44 PM ******/
DROP TABLE [dbo].[ItemCategories]
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 12/31/2020 10:02:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[Sequence] [int] NOT NULL,
	[ParentCategoryId] [int] NULL,
	[ParentCategoryName] [varchar](50) NULL,
 CONSTRAINT [PK_ItemCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemCategories] ON 

INSERT [dbo].[ItemCategories] ([Id], [CategoryName], [Sequence], [ParentCategoryId], [ParentCategoryName]) VALUES (89961, N'Consumables', 1, NULL, NULL)
INSERT [dbo].[ItemCategories] ([Id], [CategoryName], [Sequence], [ParentCategoryId], [ParentCategoryName]) VALUES (89962, N'Ammo', 1, 89961, N'Consumables')
INSERT [dbo].[ItemCategories] ([Id], [CategoryName], [Sequence], [ParentCategoryId], [ParentCategoryName]) VALUES (89963, N'Cannon Ammo', 1, 89962, N'Ammo')
GO
SET IDENTITY_INSERT [dbo].[ItemCategories] OFF
ALTER TABLE [dbo].[ItemCategories] ADD  CONSTRAINT [DF_ItemCategories_Sequence]  DEFAULT ((1)) FOR [Sequence]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_ItemCategories] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[ItemCategories] ([Id])
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_ItemCategories]
GO
